@page
@model IndexModel
@{
    ViewData["Id"] = "index";
    ViewData["Title"] = Globals.Translation.GetTranslatedString($"pages.{ViewData["Id"]}.title");
}

<div class="text-center">
    <h1>Hmmm...</h1>
    <h3>Nothing fancy here...</h3>
    <p>Check out my <a href="#" class="link-theme">Obsidian</a> and <a href="#" class="link-theme">Spigot</a> plugins.</p>
</div>
